<div class="row">
  <div class="col-6 offset-3">
    <form (ngSubmit)="onSubmit()" novalidate *ngIf="hero" #heroForm="ngForm">
      <div class="form-group">
        <label for="heroName">Name</label>
        <input id="heroName" [(ngModel)]="hero.name" name="name"
        type="text" class="form-control"
        required #hName="ngModel">
        <div class="invalid-field mt-1" [hidden]="hName.valid || hName.pristine">
          Please, choose a name for hero.
        </div>
      </div>
      <div class="form-group">
        <label for="heroAddress">Address</label>
        <input id="heroAddress" #hAddress="ngModel" [(ngModel)]="hero.address" name="address"
        type="text" class="form-control"
        required pattern="[A-Za-z0-9- \.]{10,}">
        <div class="invalid-field mt-1" [hidden]="hAddress.valid || hAddress.pristine">
          Address must be at least 10 chars.
        </div>
      </div>
      <div class="form-group">
        <label for="heroPower">Superpower</label>
        <select id="heroPower" [(ngModel)]="hero.superpower" name="superpower"
        class="form-control"
        required>
        <option *ngFor="let power of superPowers" [value]="power">{{ power }}</option>
      </select>
      </div>
      <button [disabled]="heroForm.form.invalid" type="submit" class="btn btn-success">update</button>
    </form>
    <pre>{{ hero | json}}</pre>
  </div>
</div>
